h2
{
color: red; text-decoration: none;
}
form
{
color: blue; text-decoration: none;
}
body
{
background-color: gray;
}
h1
{
color: red; text-decoration: none;
}
input
{
font-size:15px;
}
input
{
border-color: blue; text-decoration: none;
}